.baseComponent {
  height: 100%;
  max-height: 100%;
  padding: 0.1rem;
}

.tabcontent {
  background-color: #CCC;
  height: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
}

div.row {
  height: calc(100% - 1.8rem);
  max-height: calc(100% - 1.8rem);
}

div.col-3 {
  padding-right: 0.1rem;
}

div.col-9 {
  padding-left: 0.1rem;
}