div.dropdown-menu {
  min-width: 0;
}

div.dropdown-menu {
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  div.dropdown-menu {
    font-size: 0.7rem;
    height: calc(100% - 4.75rem);
    left: 35%;
    position: fixed;
    top: 2.75rem;
    width: 65%;
  }

  div.nav-link {
    padding-left: 0.5rem;
  }
}

div.dropdown-item:hover,
span[ngbDropdownToggle]:hover {
  cursor: pointer;
}

.dropdown-divider {
  margin: 0.25rem auto;
}

.icoDiv {
  display: inline-block;
  margin-left: 1rem;
}

i.fa {
  margin-left: -1rem;
}