<div class="nav-link" ngbDropdown *ngIf="lang.ready">
  <div class="icoDiv hidden-md-down" *ngIf="settings.ico">
    <i class="{{settings.ico}}"></i>
  </div>
  <span ngbDropdownToggle>{{lang[settings.name]}}</span>
  <div class="dropdown-menu">
    <div *ngFor="let s of settings.children"
    [ngClass]="{'dropdown-item':s.name !== 'separator', 'dropdown-divider':s.name === 'separator'}"
    (click)="onMenuItemClick(s);">
      <div class="icoDiv">
        <i class="{{s.ico}}"></i>
      </div>
      <span>{{lang[s.name]}}</span>
    </div>
  </div>
</div>