<div id="myModal" class="modal">
  <div class="modal-content">
    <ul></ul>
  </div>
</div>
<ngb-tabset #tabset="ngbTabset" *ngIf="langService.lang"
  (tabChange)="beforeChange($event)">
  <div *ngFor="let tab of menuService.openedTabs">
    <ngb-tab *ngIf="tab.isVisible" id="{{tab.name}}">
      <ng-template ngbTabTitle>
        <i class="{{tab.ico}}"></i>
        <span *ngIf="tab.name !== 'barsButton'" class="tabTitle">{{langService.lang[tab.name]}}</span>
        <i *ngIf="tab.name !== 'barsButton'" class="fa fa-close text-danger" (click)="onTabClose(tab, $event);"></i>
      </ng-template>
      <ng-template ngbTabContent>
        <app-content [tabName]="tab.name"></app-content>
      </ng-template>
    </ngb-tab>
  </div>
</ngb-tabset>