.tabTitle {
  font-size: 0.8rem;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 5.4rem;
  z-index: 1;
  overflow: auto;
}

.modal-content {
  position: fixed;
  right: 0;
  margin: auto;
  padding: 0.25rem;
}

div.modal-content > ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left:0.25rem;
}

.modal-content li:hover {
  cursor: pointer!important;
}