<div class="container-fluid">
  <div class="row fixed-top bg-inverse">
    <div class="nav col-lg-1 col-sm-3 col-4">
      <div class="nav-link">
        <span class="hidden-lg-up" (click)="isCollapsed = !isCollapsed;">
          <i class="fa fa-bars"></i>
        </span>
        <span style="display: inline-block;width: 43px;">
          Logo
        </span>
      </div>
    </div>
    <div class="col-lg-3 push-lg-8 col-sm-9 col-8 text-right">
      <app-lang [storageName]="'novasys'"
                [apiLocales]="'./assets/langMock/locales.json'"
                [apiLang]="'./assets/langMock/%s_lang.json'">
      </app-lang>
    </div>
    <div class="col-lg-8 pull-lg-3 col-12" 
      [ngClass]="{'hidden-md-down':isCollapsed}">
      <app-menu></app-menu>
    </div>
  </div>
  
  <div class="row mainContent">
    <app-tab class="contentTab"></app-tab>
  </div>

  <div class="row footer bg-inverse">
    footer
  </div>
</div>